In [1]:
import pandas as pd#importing pandas library

In [2]:
df=pd.read_csv("pokemon_data.csv")#importing a file

In [3]:
df.head(5)#checking the data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df.columns#checking columns values

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
type(df)#checking the data type

pandas.core.frame.DataFrame

In [7]:
#ACESSING THE COLUMNS

In [8]:
df.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [11]:
df["#"].head()

0    1
1    2
2    3
3    3
4    4
Name: #, dtype: int64

In [12]:
df[["Type 1","Type 2","HP"]]

      Type 1  Type 2  HP
0      Grass  Poison  45
1      Grass  Poison  60
2      Grass  Poison  80
3      Grass  Poison  80
4       Fire     NaN  39
..       ...     ...  ..
795     Rock   Fairy  50
796     Rock   Fairy  50
797  Psychic   Ghost  80
798  Psychic    Dark  80
799     Fire   Water  80

[800 rows x 3 columns]

In [13]:
#changing the index to an exsisting column**this changes the dataframe

In [16]:
ds=df.set_index("Type 1")
ds.head()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Grass,1,Bulbasaur,Poison,45,49,49,65,65,45,1,False
Grass,2,Ivysaur,Poison,60,62,63,80,80,60,1,False
Grass,3,Venusaur,Poison,80,82,83,100,100,80,1,False
Grass,3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,False
Fire,4,Charmander,NaN,39,52,43,60,50,65,1,False

In [17]:
#accessing rows using the index values

In [18]:
ds.loc["Fire"]

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Fire,4,Charmander,NaN,39,52,43,60,50,65,1,False
Fire,5,Charmeleon,NaN,58,64,58,80,65,80,1,False
Fire,6,Charizard,Flying,78,84,78,109,85,100,1,False
Fire,6,CharizardMega Charizard X,Dragon,78,130,111,130,85,100,1,False
Fire,6,CharizardMega Charizard Y,Flying,78,104,78,159,115,100,1,False
Fire,37,Vulpix,NaN,38,41,40,50,65,65,1,False
Fire,38,Ninetales,NaN,73,76,75,81,100,100,1,False
Fire,58,Growlithe,NaN,55,70,45,70,50,60,1,False
Fire,59,Arcanine,NaN,90,110,80,100,80,95,1,False
Fire,77,Ponyta,NaN,50,85,55,65,65,90,1,False
Fire,78,Rapidash,NaN,65,100,70,80,80,105,1,False
Fire,126,Magmar,NaN,65,95,57,100,85,93,1,False
Fire,136,Flareon,NaN,65,130,60,95,110,65,1,False
Fire,146,Moltres,Flying,90,100,90,125,85,90,1,True
Fire,155,Cyndaquil,NaN,39,52,43,60,50,65,2,False
Fire,156,Quilava,NaN,58,64,58,80,65,80,2,False
Fire,157,Typhlosion,NaN,78,84,78,109,85,100,2,False
Fire,218,Slugma,NaN,40,40,40,70,40,20,2,False
Fire,219,Magcargo,Rock,50,50,120,80,80,30,2,False
Fire,240,Magby,NaN,45,75,37,70,55,83,2,False
Fire,244,Entei,NaN,115,115,85,90,75,100,2,True
Fire,250,Ho-oh,Flying,106,130,90,110,154,90,2,True
Fire,255,Torchic,NaN,45,60,40,70,50,45,3,False
Fire,256,Combusken,Fighting,60,85,60,85,60,55,3,False
Fire,257,Blaziken,Fighting,80,120,70,110,70,80,3,False
Fire,257,BlazikenMega Blaziken,Fighting,80,160,80,130,80,100,3,False
Fire,322,Numel,Ground,60,60,40,65,45,35,3,False
Fire,323,Camerupt,Ground,70,100,70,105,75,40,3,False
Fire,323,CameruptMega Camerupt,Ground,70,120,100,145,105,20,3,False
Fire,324,Torkoal,NaN,70,85,140,85,70,20,3,False
Fire,390,Chimchar,NaN,44,58,44,58,44,61,4,False
Fire,391,Monferno,Fighting,64,78,52,78,52,81,4,False
Fire,392,Infernape,Fighting,76,104,71,104,71,108,4,False
Fire,467,Magmortar,NaN,75,95,67,125,95,83,4,False
Fire,485,Heatran,Steel,91,90,106,130,106,77,4,True
Fire,498,Tepig,NaN,65,63,45,45,45,45,5,False
Fire,499,Pignite,Fighting,90,93,55,70,55,55,5,False
Fire,500,Emboar,Fighting,110,123,65,100,65,65,5,False
Fire,513,Pansear,NaN,50,53,48,53,48,64,5,False
Fire,514,Simisear,NaN,75,98,63,98,63,101,5,False
Fire,554,Darumaka,NaN,70,90,45,15,45,50,5,False
Fire,555,DarmanitanStandard Mode,NaN,105,140,55,30,55,95,5,False
Fire,555,DarmanitanZen Mode,Psychic,105,30,105,140,105,55,5,False
Fire,631,Heatmor,NaN,85,97,66,105,66,65,5,False
Fire,653,Fennekin,NaN,40,45,40,62,60,60,6,False
Fire,654,Braixen,NaN,59,59,58,90,70,73,6,False
Fire,655,Delphox,Psychic,75,69,72,114,100,104,6,False
Fire,662,Fletchinder,Flying,62,73,55,56,52,84,6,False
Fire,663,Talonflame,Flying,78,81,71,74,69,126,6,False
Fire,667,Litleo,Normal,62,50,58,73,54,72,6,False
Fire,668,Pyroar,Normal,86,68,72,109,66,106,6,False
Fire,721,Volcanion,Water,80,110,120,130,90,70,6,True

In [19]:
#using the iloc & loc functions

In [20]:
df.loc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [21]:
df.loc[[1,2,3]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [22]:
df.iloc[1,3]

'Poison'

In [25]:
#Adding/droping columns